.app-area-wrapper
{
  --app-menu-font: 24px;
  --app-header-height: calc(var(--app-menu-font)*2);
  --app-left-menu-closed-width: calc(var(--app-menu-font)*10/3);
  --app-left-menu-opened-width: calc(var(--app-menu-font)*125/12);
  --app-arrow-icon-size: var(--app-menu-font);

  --app-primary-background-color: ;
  --app-secondary-background-color: ;
  --app-header-color: ;
  --app-blank-background-color: ;
  
  --app-primary-icon-color: ;
  --app-secondary-background-color: ;

  --app-primary-text-color: ;
  --app-secondary-text-color: ;

  --app-light-select-color: ;
  --app-dark-select-color: ;
}

.app-area-wrapper
{
  height: 100%;
  width: 100%;
  background-color: var(--app-blank-background-color);
  display: flex;
  flex-direction: column;
}

.app-area-wrapper svg
{
  fill: var(--app-primary-icon-color);
}

.screen-locker
{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

.left-menu-switch-wrapper
{
  position: fixed;
  z-index: 20;
  width: var(--app-left-menu-width);
  height: var(--app-header-height);
  background-color: var(--app-primary-background-color);
}

.left-menu-switch
{
  width: var(--app-left-menu-closed-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-menu-switch .arrow-icon-wrapper
{
  height: var(--app-arrow-icon-size);
  width: var(--app-arrow-icon-size);
}

.app-header
{
  flex: 0 0 var(--app-header-height);
  height: var(--app-header-height);
  width: 100%;
  background-color: var(--app-header-color);
}

.main-area
{
  position: relative;
  flex: 1 1;
  min-height: 0;
  display: flex;
  width: 100%;
}

.opened-menu-wrapper
{
  flex: 0 0 var(--app-left-menu-opened-width);
  height: 100%;
  background-color: var(--app-primary-background-color);
  color: var(--app-primary-text-color);
}

.front-opened-menu-wrapper
{
  position: absolute;
  height: 100%;
  width: var(--app-left-menu-opened-width);
  background-color: var(--app-primary-background-color);
  color: var(--app-primary-text-color);
  z-index: 20;
}

.screen-cover
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.3;
}

.closed-menu-wrapper
{
  flex: 0 0 var(--app-left-menu-closed-width);
  height: 100%;
  background-color: var(--app-primary-background-color);
  color: var(--app-primary-text-color);
}

.router-area
{
  flex: 1 1;
  height: 100%;

}

.horizontal-player-wrapper
{
  positon: relative;
  z-index: 21;
  flex: 0 0 auto;
  width: 100%;
}