
.audio-tag
{
	display: grid;
	grid-template-columns: 45px 12fr 9fr 35px;
	grid-gap: 10px;
	color: #ffffff;
	user-drag: none;
	user-select: none;
	margin-bottom: 5px;
}

.audio-tag.selected
{
	background-color: #2A2A2A;
}

.audio-tag .btns
{
	text-align: center;
}

.audio-tag .play-btn-image-wrapper
{
	display: flex;
	align-items: center;
	position: relative;
	margin: 5px;
}

.audio-tag .play-btn
{
	position: absolute;
	height: 18px;
	width: 18px;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}

.audio-tag .play-btn-icon svg
{
	display: block;
}

.audio-tag .audio-image
{
	display: flex;
	align-items:center;
	position: relative;
}

.audio-tag .audio-image img
{
	max-height: 100%;
	max-width: 100%;
}

.audio-tag .image-blur
{
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	position: absolute;
}

.audio-tag .audio-title
{
	display:flex;
	flex-direction: column;
}

.audio-tag .audio-album
{
	display:flex;
	align-items: center;
}

.audio-tag .more-dur
{
	display: flex;
	align-items: center;
}

.audio-tag .more-btn
{
	fill: white;
}