.audio-tag
{
	--audio-tag-name-font: 20px; 
	--audio-tag-album-font: calc(var(--audio-tag-name-font)*0.875);
	--audio-tag-artist-font: calc(var(--audio-tag-name-font)*0.875);
	--audio-tag-indent-size: calc(var(--audio-tag-name-font)*0.5);

	--audio-tag-image-size: calc(var(--audio-tag-name-font)*2);
	--audio-tag-play-icon-size: var(--audio-tag-name-font);
	--audio-tag-more-icon-size: calc(var(--audio-tag-name-font)*1.2);

	--audio-tag-selected-color: ;
	--audio-tag-background-color: ;
	--audio-tag-text-color: ;
}

.audio-tag
{
	display: grid;
	grid-template-columns: [image-start] var(--audio-tag-image-size) repeat(auto-fit, minmax(100px, 1fr)) [options-start] minmax(var(--audio-tag-more-icon-size), auto);
	grid-gap: calc(var(--audio-tag-indent-size)*1.5);
	padding: calc(var(--audio-tag-indent-size)/2) var(--audio-tag-indent-size);
	align-items: center;
	user-drag: none;
	user-select: none;
	background-color: var(--audio-tag-background-color);
	color: var(--audio-tag-text-color);
}

.audio-tag.selected
{
	background-color: var(--audio-tag-selected-color);
}

.audio-tag .play-btn-image-wrapper
{
	position: relative;
}

.audio-tag .play-btn
{
	height: var(--audio-tag-play-icon-size);
	width: var(--audio-tag-play-icon-size);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.audio-tag .play-btn-icon svg
{
	grid-column-start: image-start;
	display: block;
}

.audio-tag .audio-image
{
	height: var(--audio-tag-image-size);
	width: var(--audio-tag-image-size);
	position: relative;
}

.audio-tag .audio-image img
{
	max-height: 100%;
	max-width: 100%;
}

.audio-tag .image-blur
{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	background-color: black;
	opacity: 0.4;
}

.audio-tag .audio-name
{
	font-size: var(--audio-tag-name-font);
	overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

.audio-tag .audio-artist
{
	font-size: var(--audio-tag-album-font);
	overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

.audio-tag .audio-album
{
	font-size: var(--audio-tag-artist-font);
	overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
}

.audio-tag .more-dur
{
	grid-column-start: options-start;
	
}

.audio-tag .more-btn
{
	width: var(--audio-tag-more-icon-size);
	height: var(--audio-tag-more-icon-size);
}