.closed-left-menu
{
	--left-menu-font: 11px;
	--left-menu-padding: calc(var(--left-menu-font)*0.5);
	--left-menu-background-color: ;
}

.closed-left-menu
{
	height: 100%;
}

.closed-left-menu svg
{
	display: block;
}

.closed-left-menu .link-inner-wrapper
{
	font-size: var(--left-menu-font);
}

.closed-left-menu .top-area
{
	background-color: var(--left-menu-background-color);
	padding: var(--left-menu-padding);
}

.closed-left-menu .bottom-area
{
	border-top-style: solid;
	border-top-width: 2.5px;
	border-top-color: black;
}