.opened-left-menu
{
	--left-menu-font: 20px;
	--left-menu-padding: var(--left-menu-font);
	--left-menu-background-color: ;
	--left-menu-text-color: ;
}

@media only screen and (max-height: 768px)
{
	.opened-left-menu .bottom-area
	{
		display: none;
	}
}

@media only screen and (min-height: 768px)
{
	.opened-left-menu
	{
		--left-menu-font: 20px;
	}
}

@media only screen and (min-height: 900px)
{
	.opened-left-menu
	{
		--left-menu-font: 24px;
	}
}

.opened-left-menu
{
	height: 100%;
}

.opened-left-menu a:link
{
	text-decoration: none;
}

.opened-left-menu a:visited
{
	text-decoration: none;
}

.opened-left-menu svg
{
	display: block;
}

.opened-left-menu .link-inner-wrapper
{
	font-size: var(--left-menu-font);
	color: var(--left-menu-text-color);
}

.opened-left-menu .top-area
{
	background-color: var(--left-menu-background-color);
	padding: var(--left-menu-padding);
}

.opened-left-menu .bottom-area
{
	border-top-style: solid;
	border-top-width: 2.5px;
	border-top-color: black;
}