.opened-left-menu
{
	--left-menu-font: 24px;
	--left-menu-padding: var(--left-menu-font);
	--left-menu-background-color: ;
	--left-menu-text-color: ;
}

.opened-left-menu
{
	height: 100%;
}

.opened-left-menu a:link
{
	text-decoration: none;
}

.opened-left-menu a:visited
{
	text-decoration: none;
}

.opened-left-menu svg
{
	display: block;
}

.opened-left-menu .link-inner-wrapper
{
	font-size: var(--left-menu-font);
	color: var(--left-menu-text-color);
}

.opened-left-menu .top-area
{
	background-color: var(--left-menu-background-color);
	padding: var(--left-menu-padding);
}

.opened-left-menu .bottom-area
{
	border-top-style: solid;
	border-top-width: 2.5px;
	border-top-color: black;
}