.playlist
{	
	--playlist-name-font: 32px;
	--playlist-artist-font: calc(var(--playlist-name-font)*0.7);
	--playlist-add-info-font: calc(var(--playlist-name-font)*0.5);

	--playlist-header-image-size: calc(var(--playlist-name-font)*6.5);
	--playlist-header-margins: calc(var(--playlist-name-font)*0.5);

	--playlist-audiolist-font: calc(var(--playlist-name-font)*0.625);
	--playlist-audiolist-header-font: calc(var(--playlist-audiolist-font)*0.8);
	--playlist-body-first-row: calc(var(--playlist-audiolist-font)*2);
	--playlist-sort-icon-size: calc(var(--playlist-audiolist-header-font)*2);
	--playlist-body-gap: calc(var(--playlist-audiolist-font)*0.5);
}

.playlist
{
	height: 100%;
	width: 100%;
	background-color: #1f1f1f;
	display: grid;
	grid-template-rows: 25% 75%;
	grid-gap: 3%;
}

.playlist .playlist-header
{
	display: inline-flex;
	margin-top: var(--playlist-header-margins);
	margin-left: var(--playlist-header-margins);
}

.playlist .header-image
{
	height: var(--playlist-header-image-size);
	width: var(--playlist-header-image-size);
}

.playlist .header-image img
{
	max-height: 100%;
	max-width: 100%;
}

.playlist .header-info
{
	margin-left: var(--playlist-header-margins);
	color: #ffffff;
}

.playlist .playlist-name
{
	font-size: var(--playlist-name-font);
}

.playlist .playlist-artist
{
	font-size: var(--playlist-artist-font);
	text-decoration-line: underline;
    color: grey;
}

.playlist .num-time
{
	margin: ;
	font-size: var(--playlist-add-info-font);
}

.playlist .playlist-body
{
	
}

.playlist .audiolist-header
{
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr auto;
	align-items: center;
	gap: var(--playlist-body-gap);
	font-size: ;
	color: #ffffff;
}

.playlist .th-cover
{
	width: var(--playlist-body-first-row);
}

.playlist .th-sort
{
	width: var(--playlist-sort-icon-size);
	height: var(--playlist-sort-icon-size);
}

.playlist .audiolist-wrapper
{
	font-size: var(--playlist-audiolist-font);
}