.slider-bar
{
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	position: relative;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.slider-bar .progress
{
	height: 100%;
}

.slider-bar .bar-tip
{
	display: none;
	width: auto;
	font-size: 12px;
	text-align: center;
	position: absolute;
	z-index: 2;
	top: -1rem;
	pointer-events: none;
}

.slider-bar:hover .bar-tip
{
	display: initial;
}