.slider-bar
{
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	position: relative;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.slider-bar .progress
{
	height: 100%;
}

.slider-bar .bar-tip
{
	position: absolute;
	transform: translate(-50%, -100%);
	z-index: 2;
	display: none;
	width: auto;
	text-align: center;
	pointer-events: none;
}

.slider-bar:hover .bar-tip
{
	display: block;
}