.vertical-player
{
    background-color: #3D3D3D;
}

.vertical-player .audio-image
{
    height: 192px;
    width: 192px;
}

.vertical-player .audio-image img
{
    max-height: 100%;
    max-width: 100%;
}

.vertical-player .player-controls
{
    display: inline-flex;
}

.vertical-player .main-btns
{
    display: flex;
    height: 40px;
}

.vertical-player .play-btn
{
    display: flex;
    margin: 0px 10px 0px 10px;
}

.vertical-player .next-btn
{
    display: flex;
    height: 35px;
}


.vertical-player .next-btn.reversed
{
	transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.vertical-player .side-btns
{
    width: 25px;
}

.vertical-player .duration-bar
{
    height: 4px;
    width: 100%;
    margin: 20px 8px;
    cursor: pointer;
    -webkit-user-drag: none;
}

