.vertical-player{
    --player-play-btn-size: 40px;
    --player-next-btn-size: calc(var(--player-play-btn-size)*0.875);
    --player-side-btns-size: calc(var(--player-play-btn-size)*0.625);
    --player-side-btns-margin: calc(var(--player-side-btns-size)/4);
    --player-volume-icon-size: calc(var(--player-play-btn-size)*0.5);

    --player-image-size: calc(var(--player-play-btn-size)*4);
    --player-indent-size: calc(var(--player-play-btn-size)*0.4);

    --player-base-font-size: calc(var(--player-play-btn-size)*0.4);
    --player-name-font-size: calc(var(--player-base-font-size)*1.5);
    --player-artist-font-size: calc(var(--player-base-font-size)*1);
    --player-bar-tip-font-size: calc(var(--player-base-font-size)*0.875);

    --player-background-color: ;
}

.vertical-player
{
    background-color: var(--player-background-color);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr 0.8fr var(--player-volume-icon-size) 2.5fr;
    align-items: center;
    grid-gap: var(--player-indent-size);
}

.vertical-player svg
{
    display: block;
}

.vertical-player .audio-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: var(--player-indent-size);
}

.vertical-player .audio-image
{
    height: var(--player-image-size);
    width: var(--player-image-size);
    margin-bottom: calc(var(--player-indent-size)*0.5);
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.vertical-player .audio-image img
{
    max-height: 100%;
    max-width: 100%;
}

.vertical-player .audio-name
{
    font-size: var(--player-name-font-size);
    color: white;
}

.vertical-player .audio-artist
{
    font-size: var(--player-artist-font-size);
    text-decoration-line: underline;
    color: grey;
}

.vertical-player .player-controls-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-player .player-controls
{
    position: relative;
    left: calc(var(--player-side-btns-size)/2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px;
}

.vertical-player .main-btns
{
    display: inline-flex;
    align-items: center;
}

.vertical-player .play-btn
{
    height: var(--player-play-btn-size);
    width: var(--player-play-btn-size);
    margin: 0 calc(var(--player-play-btn-size)/4);
}

.vertical-player .next-btn
{
    height: var(--player-next-btn-size);
    width: var(--player-next-btn-size);
    margin: 0 calc(var(--player-play-btn-size)/8);
}


.vertical-player .next-btn.reversed
{
	transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.vertical-player .side-btns
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    box-shadow: -4px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.vertical-player .playback-mode-btn-wrapper, .options-btn
{
    width: var(--player-side-btns-size);
    height: var(--player-side-btns-size);
    margin: calc(var(--player-side-btns-margin)/2) var(--player-side-btns-margin);
}

.vertical-player .audio-duration
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.vertical-player .audio-current-time
{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    font-size: var(--player-base-font-size);
    color: white;
    text-align: center;

}

.vertical-player .duration-bar
{
    height: 4px;
    font-size: var(--player-bar-tip-font-size);
    width: 90%;
    margin-top: calc(var(--player-bar-tip-font-size)*1.5);
}

.vertical-player .volume-controls
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vertical-player .volume-icon
{
    height: var(--player-volume-icon-size);
    width: var(--player-volume-icon-size);
}

.vertical-player .volume-bar
{
    height: 5px;
    font-size: var(--player-bar-tip-font-size);
    width: 60%;
    margin: calc(var(--player-volume-icon-size)/2);
}

