.app-area-wrapper
{
	--main-background-color: #1E1E1E;
	--main-area-header-color: #A2A2A2;
	--left-menu-background-color: #7D7D7D;
	--vertical-player-background-color: ;
}

.app-area-wrapper
{
	height: 100%;
	width: 100%;
}

.left-menu-area
{
	display: inline-block;
	width: 20%;
	height: 100%;
	vertical-align: top;
}

.menu-wrapper
{
	height: 30%;
	background-color: var(--left-menu-background-color);
}

.vertical-player-wrapper
{
	height: 70%;
}

.main-area
{
	display: inline-block;
	vertical-align: top;
	width: 80%;
	height: 100%;
	background-color: var(--main-background-color);
}

.main-header
{
	height: 8%;
	width: 100%;
	background-color: var(--main-area-header-color);
}

.playlist-wrapper
{
	width: 80%;
	height: 92%;
	margin: auto;
}